<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
  <nav>
    <a href="https://apurva-mishra.com">Home</a>
    <a href="/">Posts</a>
  </nav>
    {{ content }}
  <nav>
    <a href="https://github.com/mav3ri3k">Github</a>
    <a href="https://x.com/mav3ri3k">Twitter</a>
  </nav>
  </body>
</html>
