:root {
  --color-deg: 280;
  --primary: oklch(50% 0.22 var(--color-deg));
  --surface0: oklch(94% 0.015 var(--color-deg));
  --base: oklch(98% 0.01 var(--color-deg));
  --radius: 5px;

}

body{
  font-family: garamond; 
  background-color: var(--base);
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color: #444;
  padding:0
  10px
}

h1, h2, h3 {
  line-height:1.2;
  color: var(--primary);
}

a {
  color: #444
}

a:hover {
  color: var(--primary);
}
.date {
  font-family: jetbrains;
}

nav {
  display: flex;
  gap: 8px;
  background-color: var(--surface0);
  padding: 2px 8px;
  border-radius: var(--radius);
}
