---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
  <nav>
    <a href="/">Home</a>
    <a href="/posts/">Posts</a>
    <a href="/dope/">Dope</a>
  </nav>
    <slot />
  <nav>
    <a href="https://github.com/mav3ri3k">Github</a>
    <a href="https://x.com/mav3ri3k">Twitter</a>
  </nav>   
  </body>
</html>
